<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.dexcom.cgm" platformBuildVersionCode="25" platformBuildVersionName="7.1.1">
    <uses-permission android:name="com.google.android.permission.PROVIDE_BACKGROUND"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <permission android:name="com.dexcom.cgm.permission.Heartbeat" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>
    <permission android:label="external_permission" android:name="com.dexcom.cgm.content_provider.READ_PERMISSION" android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application android:allowBackup="false" android:icon="@mipmap/ic_app" android:label="@string/app_name" android:name="com.dexcom.cgm.CgmApplication" android:supportsRtl="false" android:theme="@style/DexTheme">
        <activity android:name="com.dexcom.cgm.activities.AppCompatabilityActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <service android:enabled="true" android:exported="false" android:name="com.dexcom.cgm.test.TestService"/>
        <receiver android:enabled="true" android:exported="true" android:name="com.dexcom.cgm.StartAtBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dexcom.cgm.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.dexcom.cgm.ShutdownReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_SHUTDOWN"/>
            </intent-filter>
        </receiver>
        <service android:enabled="true" android:exported="false" android:name="com.dexcom.cgm.component_provider.CgmService" android:stopWithTask="false"/>
        <receiver android:enabled="true" android:exported="false" android:name="com.dexcom.cgm.component_provider.HeartbeatAlarmReceiver"/>
        <service android:enabled="true" android:exported="false" android:name="com.dexcom.cgm.tx.mediator.BleCommunicationService" android:stopWithTask="false"/>
        <provider android:authorities="com.dexcom.cgm.content_provider" android:enabled="true" android:exported="true" android:name="com.dexcom.cgm.content_provider.CgmContentProvider" android:readPermission="com.dexcom.cgm.content_provider.READ_PERMISSION"/>
        <meta-data android:name="com.samsung.android.health.platform_type" android:value="rel"/>
        <meta-data android:name="com.samsung.android.health.permission.write" android:value="com.samsung.health.blood_glucose;"/>
        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version"/>
        <service android:enabled="true" android:exported="false" android:name="com.dexcom.cgm.activities.wear.DataService"/>
        <provider android:authorities="com.dexcom.cgm.provider" android:exported="false" android:grantUriPermissions="true" android:name="android.support.v4.content.FileProvider">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/provider_paths"/>
        </provider>
        <activity android:name="com.dexcom.cgm.activities.MeterEntryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name="com.dexcom.cgm.activities.SettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.TransmitterSnEntryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:name="com.dexcom.cgm.activities.StopSensorActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.AlertsActivity" android:parentActivityName="com.dexcom.cgm.activities.TrendActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES"/>
            </intent-filter>
            <meta-data android:name="android.support.PARENT_ACTIVITY" android:value=".TrendActivity"/>
        </activity>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.alertschedule.setupwizard.AlertScheduleSetupWizardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.alertschedule.AlertScheduleEditNameActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateVisible"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.alertschedule.AlertScheduleEditTimeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.alertschedule.AlertScheduleEditDaysActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.UrgentLowAlertSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.UserLowAlertSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.UserHighAlertSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.RiseRateAlertSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.FallRateAlertSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.SignalLossAlertSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.SoundsActivity" android:screenOrientation="portrait"/>
        <activity android:launchMode="singleTask" android:name="com.dexcom.cgm.activities.TrendActivity"/>
        <activity android:configChanges="orientation|screenSize" android:name="com.dexcom.cgm.activities.VideoViewActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
        <activity android:name="com.dexcom.cgm.activities.HelpActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.IntroActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/dex_event_entry_title" android:name="com.dexcom.cgm.activities.event_entry.EventEntryActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/dex_event_entry_carbs_title" android:name="com.dexcom.cgm.activities.event_entry.CarbsEntryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:label="@string/dex_event_entry_insulin_title" android:name="com.dexcom.cgm.activities.event_entry.InsulinEntryActivity" android:screenOrientation="portrait" android:windowSoftInputMode="stateAlwaysVisible"/>
        <activity android:label="@string/dex_event_entry_exercise_title" android:name="com.dexcom.cgm.activities.event_entry.ExerciseEntryActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/dex_event_entry_health_title" android:name="com.dexcom.cgm.activities.event_entry.HealthEntryActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.notifications.NotificationDemoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertdialogs.DialogDemoActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.support.ContactDexcomActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.support.SalesSupportActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.support.TechnicalSupportActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.support.TrainingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.support.BillingActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.FAQActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.share.RemoteMonitoringTutorialActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.AccountEditActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.share.InviteFollowersActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.share.ShareMainActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.share.EditFollowerActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.share.FollowerInvitationNameAndEmailActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.share.FollowerInvitationTrendGraphActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.share.FollowerInvitationAlertSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.share.FollowerInvitationReviewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity"/>
        <activity android:label="@string/title_activity_user_guide" android:name="com.dexcom.cgm.activities.UserGuideActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.TransmitterSnScanActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.ScanBarcodeActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.ChangePasswordActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.SHealthActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.alertsettings.PersistentNotificationSettingsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.SettingsTransmitterActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.SettingsDeviceInfo" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.SettingsGraphHeightActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.HelpSafetyStatementsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.DexWebViewActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.HelpAboutActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.HelpLegalActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.HelpVideosActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.NonInitialSetupWizardActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.dexcom.cgm.activities.InitialSetupWizardActivity" android:screenOrientation="portrait"/>
        <activity android:label="@string/title_activity_permission_check" android:name="com.dexcom.cgm.activities.PermissionCheckActivity"/>
        <activity android:name="com.dexcom.cgm.activities.WhatsNewFragmentActivity" android:screenOrientation="portrait"/>
        <activity android:exported="false" android:name="com.google.android.gms.common.api.GoogleApiActivity" android:theme="@android:style/Theme.Translucent.NoTitleBar"/>
        <meta-data android:name="com.google.android.wearable.beta.app" android:resource="@xml/android_wear_micro_apk"/>
    </application>
</manifest>